body {
    background-color: darkgray;
}

.orarend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: relative;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

tr {
    background-color: black;
    color: white;
}